html{
  height: 100%;

}
body{
	background: #649aa3;
	/* background: linear-gradient(180deg,#649aa3 20%,#b8dfe4 70%, #ffffff 100%) no-repeat center center fixed; */
	background-size:cover;
}
/*#app {
	height: 100%;
	
}*/
@media screen and (max-width: 340px) {
	img{
		width: 40% !important;
	}
	.mb-5{
    margin-bottom: 7% !important;
}
}
.card{
	background-color: #ffffff80;
	border: 0;
    border-radius: 1.25rem;
}
.card-header {
    background-color: #00000000;
    border-bottom: 1px solid #00000000;
	padding: 1.25rem 1.25rem 0 1.25rem;
}
.card-body {
    padding: 1.25rem 1.25rem 0.25rem 1.25rem;
}
.intl-tel-input.separate-dial-code .selected-flag {
    background-color: #00000000;
}
.materail-input { 
    border-radius: 1.25rem;
	border-bottom: none;
}

.text-center{
	text-align:center;
}
.dugme_next{
	width: 60%;
    /*margin-top: 10px;*/
    background-color: #61979f;
    color: white;
    border-radius: 1.25rem;
}
.form-control-lg {
    border-radius: 1.25rem;
    border: 0;
	/*padding: 0 0.75rem 0.3rem 0.75rem;*/
}
textarea.form-control {
    border-radius: 1.25rem;
    padding: 10px 15px 10px 15px;
}

footer{
	position:absolute;
	bottom:0px;
	width: 100%;
	text-align: center;
}

.checkbox-animated-inline {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
.checkbox-animated-inline input[type="checkbox"] {
  display: none;
}
.checkbox-animated-inline input[type="checkbox"]:disabled ~ label .box {
  border-color: #777;
  background-color: #e6e6e6;
}
.checkbox-animated-inline input[type="checkbox"]:disabled ~ label .check {
  border-color: #777;
}
.checkbox-animated-inline input[type="checkbox"]:checked ~ label .box {
  opacity: 0;
  -webkit-transform: scale(0) rotate(-180deg);
  -moz-transform: scale(0) rotate(-180deg);
  transform: scale(0) rotate(-180deg);
}
.checkbox-animated-inline input[type="checkbox"]:checked ~ label .check {
  opacity: 1;
  -webkit-transform: scale(1) rotate(45deg);
  -moz-transform: scale(1) rotate(45deg);
  transform: scale(1) rotate(45deg);
}
.checkbox-animated-inline label {
  cursor: pointer;
  padding-left: 28px;
  font-weight: normal;
  margin-bottom: 0;
}
.checkbox-animated-inline label span {
  display: block;
  position: absolute;
  left: 0;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.checkbox-animated-inline label .box {
  border: 2px solid #000;
  height: 20px;
  width: 20px;
  z-index: 888;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.checkbox-animated-inline label .check {
  top: -7px;
  left: 6px;
  width: 12px;
  height: 24px;
  border: 2px solid #04773B;
  border-top: none;
  border-left: none;
  opacity: 0;
  z-index: 888;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.checkbox-animated-inline.checkbox-animated-inline {
  display: inline-block;
}
.checkbox-animated-inline.checkbox-animated-inline + .checkbox-animated-inline {
  margin-left: 10px;
}
.holder{
  width:100%;

  margin-top: 20px;
 
  padding-bottom:30px;
}
.cell{
   display: absolute;
}
/*FOUR - - - - - - - - */
#four{
	border-radius: 1.25rem;
    min-width: 70%;
}
.icon{
  font-size: 1em; 
  display:inline-block;
  position: relative;
  width: 8em;
  height: 8em;
  background-color: #fff;
  box-shadow: 0 0 0 1px #e6e6e6, 0 2px 0 #bdbdbd;
  overflow: hidden;
  font-family:Roboto, sans-serif; 
  transition: all 0.1s linear;
  margin:0px auto;
}
.icon:hover{
  cursor:default;
}
.icon *{
  position: absolute;
  width: 100%;
  font-size: 1.5em;
  font-weight: 100;
  font-style: normal;
  text-align: center;
  transition: all 0.2s linear;

}
.icon strong{
  top: 0;
  padding: 0.5em 0;
  color: #fff;
  display:block;
  background-color: #61979f;
}
.icon p{
  bottom: 0em;
  color: #61979f;
  font-size:1.3em;
  display:block;
  top: 100px;
  letter-spacing:1px;
}
.icon h1{
  font-size: 2.8em;
  top:45%;
  margin-bottom:30px;
  display:block;
  color: #2f2f2f;
}



