// Body
$body-bg: #eef1f4;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$notify-success-green: #1CAC67;
$notify-danger-red: #DD3939;
$background: #eef1f4;
$btn-blue: #00B0CE;
$btn-hover-blue: #0D5EA3;
$shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075);
$b-radius: 0.25rem;
$gray: #C6CFDB;
$datatable-gray: #8B9093;
$label-gray: #9EA2A2;
$bg: #332f35;
$fg: lighten($bg,20%);
$borderWidth: 3px;