# min     hour    day     month   weekday   command
#0	19	*	*	*	sendRequest "$CRM_URL/cron_bot_instal.php" 
#0	19	*	*	*	sendRequest "$CRM_URL/cron_bot_obrada.php" 
#0	14	*	*	*	sendRequest "$CRM_URL/cron_rodjendan.php" 
#0	8	*	*	*	sendRequest "$CRM_URL/jobstep-partner/cronpartneri.php" 
#30	7	*	*	*	sendRequest "$CRM_URL/cron_mail_mikrofin.php" 
#0	8	*	*	*	sendRequest "$CRM_URL/cron_lead_report.php" 
#0	8	*	*	*	sendRequest "$CRM_URL/cron_predracuni_statusi.php" 
#0	*	*	*	*	sendRequest "$CRM_URL/cron_partnerpayment.php" 
#0	*/4	*	*	*	sendRequest "$CRM_URL/mikrofinAPI.php?action=deleteAccess" 
#15	17	*	*	*	sendRequest "$CRM_URL/cron_lt_reset.php" 
#0	7	*	*	1-5	sendRequest "$CRM_URL/cron_inkaso.php" 
#5	7	*	*	*	sendRequest "$CRM_URL/cron_lead_NZ.php" 
#6	7	*	*	*	sendRequest "$CRM_URL/cron_lead_NL.php" 
#*	*	*	*	*	sendRequest "$CRM_URL/cron_test.php" 
#30	7	*	*	*	sendRequest "$CRM_URL/cron_kreiranje_predracuna.php" 
#0	8	*	*	1-5	sendRequest "$CRM_URL/cron_reminder_obrada_dipl.php" 
#30	9	*	*	*	sendRequest "$CRM_URL/cron_kreiranje_predracuna_ch.php" 
#15	8	*	*	1-5	sendRequest "$JS_URL/cron_reminders_email.php?key=558ee2e7f0abdf7860045ae07ae282df&type=1" 
#20	8	*	*	1-5	sendRequest "$JS_URL/cron_reminders_email.php?key=558ee2e7f0abdf7860045ae07ae282df&type=2" 
#*/15	*	*	*	*	sendRequest "$CRM_URL/cron_nije_dosao_na_razgovor.php" 
#30	7	*	*	*	sendRequest "$CRM_URL/cron_ciscenje_projekata.php" 
0	6	*	*	*	sendRequest "$CRM_URL/cron_certificate_expiration_date.php" 
#5	9-19	*	*	*	sendRequest "$CRM_URL/cron_appointment_invite_links.php?type=1" 
#5	9-19	*	*	*	sendRequest "$CRM_URL/cron_appointment_invite_links.php?type=2" 
#0	21	*	*	*	sendRequest "$CRM_URL/cron_automatic_go_online.php" 
0	5	*	*	*	sendRequest "$CRM_URL/cron_projekcije.php" 
#0	7	*	*	1-5	sendRequest "$CRM_URL/cron_financije_fakture_uplate.php" 
0	5	*	*	1-5	runAllReminders
